<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>AIHub-An Optical Search Application</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/png">
        
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/animate.css">
        
    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        
    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/slick.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/LineIcons.css">
        
    <!--====== Font Awesome CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <style>
        #previewImg{
            max-width: 650px; 
    max-height:650px;height:500px;width:500px;margin:auto;background-size: 100% 100%;
        }
        /* SCANNING ANIMATIONN */
        .animater-main{
            height: 100% !important;;width:100% !important;
            background-color: rgba(0,0,0,0.3);position: relative;
        }
        .animater{
            height:1px;width:100%;box-shadow: 0px 0px 20px white;background-color: red;
            animation:myani 2s infinite linear;position:absolute;
        }
        @keyframes myani {
            0%{top:0px;}
            50%{top:100%;}
            100%{top:0%;}
        }
    </style>
</head> 

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->    
   
   
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    
    <!--====== HEADER PART START ======-->
    
    <header class="header-area">
        <div class="navbar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{% url 'index'%}">
                                AIHub
                                <!-- <img src="/static/assets/images/AI_hub.png" style="height:50px;width: 50px;"> -->
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#features" id="features_link">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#facts">Facts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Searches</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#testimonial">Testimonials</a>
                                    </li> 
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#footer">Contact</a>
                                    </li> 
                                </ul>
                            </div> <!-- navbar collapse -->
                            
                            <div class="navbar-btn d-none d-sm-inline-block">
                                <!--<a class="main-btn" data-scroll-nav="0" href="#pricing">Free Trial</a>-->
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navbar area -->
        
        <div id="home" class="header-hero bg_cover" style="background-image: url(/static/assets/images/banner-bg.svg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="header-hero-content text-center">
                            <h3 class="header-sub-title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">AIHub-An Optical Search Application</h3>
                            <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s" 
                            data-wow-delay="1.1s" onclick="openImage()">Open Image to Search</a> <br>

                            <form action="" enctype="multipart/form-data" id="myform">
                                <input type="file" id="image-file-btn" onchange="submitform()" 
                                style="display: none;">
                            </form>
                            
                        </div> <!-- header hero content -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-hero-image text-center wow fadeIn" data-wow-duration="1.3s" data-wow-delay="1.4s">
                            <div id="previewImg" class="p-0" style="height:400px;width:100%;background:url(/static/assets/images/header-hero.png);background-size: 100% 100%;">
                                <div id="animater-main" class="">
                                    <div id="animater" class="">
                                        
                                    </div>
                                </div>
                            </div>
                        </div> <!-- header hero image -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div id="particles-1" class="particles"></div>
        </div> <!-- header hero -->
    </header>
    
    <!--====== HEADER PART ENDS ======-->
    
    <!--====== SERVICES PART START ======-->
    
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-10" id="result_div">
                    
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center mt-4">
                <div class="col-lg-10">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Clean and simple design, <span> Comes with everything you need to get started!</span></h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="services-icon">
                            <img class="shape" src="/static/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="/static/assets/images/services-shape-1.svg" alt="shape">
                            <i class="lni-baloon"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Clean</a></h4>
                            <p class="text">Human error is found to be the main reason in critical areas of data collection so any AI based model uses ML to replace humans in identifying bad data and refreshing the models as and when needed.
    
                            </p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="services-icon">
                            <img class="shape" src="/static/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="/static/assets/images/services-shape-2.svg" alt="shape">
                            <i class="lni-cog"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Robust</a></h4>
                            <p class="text">In computer science, robustness is the ability of a computer system to cope with errors during execution and cope with erroneous input.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="services-icon">
                            <img class="shape" src="/static/assets/images/services-shape.svg" alt="shape">
                            <img class="shape-1" src="/static/assets/images/services-shape-3.svg" alt="shape">
                            <i class="lni-bolt-alt"></i>
                        </div>
                        <div class="services-content mt-30">
                            <h4 class="services-title"><a href="#">Powerful</a></h4>
                            <p class="text"> It has been used to develop and advance numerous fields and industries, including finance, healthcare, education, transportation, and more.</p>
                        </div>
                    </div> <!-- single services -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== SERVICES PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->
    
    <section id="about" class="about-area pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">Introduction <span>to Artificial Intelligence</span></h3>
                        </div> <!-- section title -->
                        <p class="text">Artificial intelligence, defined as intelligence exhibited by an artificial entity and machines, has many applications in today's society. Such a system is generally assumed to be a computer. Although AI has a strong science fiction connotation, it forms a vital branch of computer science, dealing with intelligent behaviour, learning and adaptation in machines. Research in AI is concerned with producing machines to automate tasks requiring intelligent behavior. Examples include control, planning and scheduling, the ability to answer diagnostic and consumer questions, handwriting, speech, and facial recognition.
                            </p>
                        <a href="#" class="main-btn">Try it Free</a>
                    </div> <!-- about content -->
                </div>
                <div class="col-lg-6">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="/static/assets/images/ww2.gif" width="100%" alt="about">
                    </div> <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-shape-1">
            <img src="/static/assets/images/about-shape-1.svg" alt="shape">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->
    
    <section class="about-area pt-70">
        <div class="about-shape-2">
            <img src="/static/assets/images/about-shape-2.svg" alt="shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title">What is <span> Object Recognition ?</span></h3>
                        </div> <!-- section title -->
                        <p class="text"> Object recognition is a computer vision technique for identifying objects in images or videos. Object recognition is a key output of deep learning and machine learning algorithms. When humans look at a photograph or watch a video, we can readily spot people, objects, scenes, and visual details. The goal is to teach a computer to do what comes naturally to humans: to gain a level of understanding of what an image contains. Object recognition is a key technology behind driverless cars, enabling them to recognize a stop sign or to distinguish a pedestrian from a lamppost. It is also useful in a variety of applications such as disease identification in bioimaging, industrial inspection, and robotic vision.</p>
                        
                    </div> <!-- about content -->
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="/static/assets/images/ww3.svg" width="75%" height="100%" alt="about">
                    </div> <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>


    <!--====== ABOUT PART START ======-->
    
    <section class="about-area pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="section-title">
                            <div class="line"></div>
                            <h3 class="title"><span>How</span> Face Recognition works?</h3>
                        </div> <!-- section title -->
                        <p class="text">Facial Recognition is a category of biometric software that maps an individual’s facial features and stores the data as a face print. The software uses deep learning algorithms to compare a live captured image to the stored face print to verify one’s identity. Image processing and machine learning are the backbones of this technology. Face recognition has received substantial attention from researchers due to human activities found in various applications of security like an airport, criminal detection, face tracking, forensic, etc. Compared to other biometric traits like palm print, iris, fingerprint, etc., face biometrics can be non-intrusive.</p>
                        <a href="#" class="main-btn">Try it Free</a>
                    </div> <!-- about content -->
                </div>
                <div class="col-lg-6">
                    <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img src="/static/assets/images/facescan.gif" alt="about">
                    </div> <!-- about image -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="about-shape-1">
            <img src="/static/assets/images/about-shape-1.svg" alt="shape">
        </div>
    </section>
    
    <!--====== ABOUT PART ENDS ======-->

    
    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== VIDEO COUNTER PART START ======-->
    
    <section id="facts" class="video-counter pt-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="video-content mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <img class="dots" src="/static/assets/images/dots.svg" alt="dots">
                        <div class="video-wrapper">
                            <div class="video-image">
                                <img src="/static/assets/images/facts.gif" alt="video">
                            </div>
                      
                            <div class="video-icon">
                                <a href="https://www.youtube.com/watch?v=PONPEKK1VkY" class="video-popup"><i class="lni-play"></i></a>
                            </div>
                            
                        </div> <!-- video wrapper -->
                    </div> <!-- video content -->
                </div>
                <div class="col-lg-6">
                    <div class="counter-wrapper mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="counter-content">
                            <div class="section-title">
                                <div class="line"></div>
                                <h3 class="title">Cool facts <span>  about Artificial Intelligence</span></h3>
                                <br>
                            </div> <!-- section title -->
                            <ol type="1">
                                <li>1. AI Pets Exist</li>
                                <li>2. Most AI Bots are Female</li>
                                <li>3. AI Recognises Emotions</li>
                                <li>4. AI can Repair Itself</li>
                                <li>5. AI can Replace Human Workforce</li>
                                <li>6. AI will Become Smarter than Humans</li>
                                <li>7. Humans can Develop Romantic Relationship with AI</li>
                                <li>8. AI has Nationalities and Passports</li>
                                <li>9. AI can Write</li>
                                <li>10. AI will Recognise people by Voice</li>
                            </ol>

                        </div> <!-- counter content -->
                        <div class="row no-gutters">
                            <div class="col-4">
                                <div class="single-counter counter-color-1 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">125</span>K</span>
                                        <p class="text">Users</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-2 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">87</span>K</span>
                                        <p class="text">Algorithms</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                            <div class="col-4">
                                <div class="single-counter counter-color-3 d-flex align-items-center justify-content-center">
                                    <div class="counter-items text-center">
                                        <span class="count"><span class="counter">4.8</span></span>
                                        <p class="text">User Rating</p>
                                    </div>
                                </div> <!-- single counter -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- counter wrapper -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== VIDEO COUNTER PART ENDS ======-->
    
    <!--====== TEAM PART START ======-->
    
    <section id="team" class="team-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-title text-center pb-30">
                        <div class="line m-auto"></div>
                        <h3 class="title"><span>Check Our</span> Previous Search Results ({{recent_search_data|length}})</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                
                {% for i in recent_search_data %}
                <div class="col-lg-4 col-md-7 col-sm-8">
                    <div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="team-image">
                            <img src="/media/{{i.image}}" alt="Team" style="height:300px;">
                            <div class="social">
                                <ul>
                                    <li><a href="{{i.url}}" target="_blank"><i class="lni-facebook-filled"></i>Learn More</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content">
                            <h5 class="holder-name"><a href="#">{{i.title}}</a></h5>
                            <p class="text" style="height: 150px;overflow:auto;text-align: justify;">{{i.text}}</p>
                            <p class="text"><em>{{i.searched_on}}</em></p>
                        </div>
                    </div> <!-- single team -->
                </div>
                {% endfor %}
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEAM PART ENDS ======-->
    
    <!--====== TESTIMONIAL PART START ======-->
    
    <section id="testimonial" class="testimonial-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-title text-center pb-40">
                        <div class="line m-auto"></div>
                        <h3 class="title">Users sharing<span> their experience</span></h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row testimonial-active wow fadeInUpBig" data-wow-duration="1s" data-wow-delay="0.8s">
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">
                                General AI trained on increasingly complex tasks is a pretty challenging research area. 
                                But the recent progress in reinforcement learning and artificial neural networks might convince you to accept the challenge.    
                            </p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="/static/assets/images/textimonial-shape.svg" alt="shape">
                                <img class="author" src="https://static.wixstatic.com/media/2f0a43_0d7863b12f2b45a0ba5c2189f06d547c~mv2.jpg/v1/fill/w_162,h_161,al_c,q_80,usm_0.66_1.00_0.01/2f0a43_0d7863b12f2b45a0ba5c2189f06d547c~mv2.webp" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Simon Sicko</h6>
                                <p class="text">CEO, SpaceX</p>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">AI is generally speaking a phenomenon that can be observed with living organisms and complex brains. The artificial intelligence that will simulate or replace the natural one is very complex task, that definitely will not be based on one "kind" of algorithm.</p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="/static/assets/images/textimonial-shape.svg" alt="shape">
                                <img class="author" src="https://static.wixstatic.com/media/2f0a43_7d2a18986cde42e9b88f283a4d555eb3~mv2.jpg/v1/fill/w_162,h_161,al_c,q_80,usm_0.66_1.00_0.01/2f0a43_7d2a18986cde42e9b88f283a4d555eb3~mv2.webp" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Ivan Zelinka</h6>
                                <p class="text"> head of NAVY research group</p>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">We live in a wonderful and rapidly changing world. The exponential growth of computational power has enabled tremendous success of artificial intelligence solutions in recent years, but we are still at the beginning. </p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="/static/assets/images/textimonial-shape.svg" alt="shape">
                                <img class="author" src="https://static.wixstatic.com/media/2f0a43_e71e377760bb4253a5b19ca4d4b8a068~mv2.jpg/v1/crop/x_334,y_33,w_728,h_727/fill/w_162,h_161,al_c,q_80,usm_0.66_1.00_0.01/2f0a43_e71e377760bb4253a5b19ca4d4b8a068~mv2.webp" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Jiri Materna</h6>
                                <p class="text">Founder of Machine Learning Prague</p>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
                <div class="col-lg-4">
                    <div class="single-testimonial">
                        <div class="testimonial-review d-flex align-items-center justify-content-between">
                            <div class="quota">
                                <i class="lni-quotation"></i>
                            </div>
                            <div class="star">
                                <ul>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                    <li><i class="lni-star-filled"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="testimonial-text">
                            <p class="text">Working on AI Challenge is the most exciting project I can imagine working on … because it is the ultimate challenge of mankind.</p>
                        </div>
                        <div class="testimonial-author d-flex align-items-center">
                            <div class="author-image">
                                <img class="shape" src="/static/assets/images/textimonial-shape.svg" alt="shape">
                                <img class="author" src="https://static.wixstatic.com/media/2f0a43_cbd87b4d3e024f24870c5b613bd3fa10~mv2_d_2317_2573_s_2.jpg/v1/fill/w_161,h_161,al_c,q_80,usm_0.66_1.00_0.01/2f0a43_cbd87b4d3e024f24870c5b613bd3fa10~mv2_d_2317_2573_s_2.webp" alt="author">
                            </div>
                            <div class="author-content media-body">
                                <h6 class="holder-name">Anton Zajac</h6>
                                <p class="text">COO, MakerFlix</p>
                            </div>
                        </div>
                    </div> <!-- single testimonial -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TESTIMONIAL PART ENDS ======-->
    
    <!--====== FOOTER PART START ======-->
    
    <footer id="footer" class="footer-area pt-120">
        <div class="container">
            <div class="subscribe-area wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1620841743275!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div> <!-- subscribe area -->
            <div class="footer-widget pb-100">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                            <a class="logo navbar-brand text-light" href="#">
                                AIHub
                            </a>
                            <p class="text">It has been used to develop and advance numerous fields and industries, including finance, healthcare, education, transportation, and more.</p>
                            <ul class="social">
                                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                <li><a href="#"><i class="lni-instagram-filled"></i></a></li>
                                <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                            </ul>
                        </div> <!-- footer about -->
                    </div>
                    <div class="col-lg-5 col-md-7 col-sm-7">
                        <div class="footer-link d-flex mt-50 justify-content-md-between">
                            <!-- <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s"> -->
                                <!-- <div class="footer-title">
                                    <h4 class="title">Quick Link</h4>
                                </div> -->
                                <!-- <ul class="link">
                                    <li><a href="#">Road Map</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Pricing</a></li>
                                </ul> -->
                            <!-- </div>  -->
                                <!-- footer wrapper -->
                            <div class="link-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                                <div class="footer-title">
                                    <h4 class="title">Resources</h4>
                                </div>
                                <ul class="link">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Page</a></li>
                                    <!-- <li><a href="#">Portfolio</a></li> -->
                                    <!-- <li><a href="#">Blog</a></li> -->
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div> <!-- footer wrapper -->
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-md-5 col-sm-5">
                        <div class="footer-contact mt-50 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                            <div class="footer-title">
                                <h4 class="title">Contact Us</h4>
                            </div>
                            <ul class="contact">
                                <li>+91 99999-99999</li>
                                <li>aihub@gmail.com</li>
                             
                                <li>SachTech Solutions ,<br> Mohali</li>
                            </ul>
                        </div> <!-- footer contact -->
                    </div>
                </div> <!-- row -->
            </div> 
        </div> <!-- container -->
        <div id="particles-2"></div>
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->   
    
    <!--====== Jquery js ======-->
    <script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    
    <!--====== Bootstrap js ======-->
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    
    <!--====== Plugins js ======-->
    <script src="/static/assets/js/plugins.js"></script>
    
    <!--====== Slick js ======-->
    <script src="/static/assets/js/slick.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="/static/assets/js/ajax-contact.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Scrolling Nav js ======-->
    <script src="/static/assets/js/jquery.easing.min.js"></script>
    <script src="/static/assets/js/scrolling-nav.js"></script>
    
    <!--====== wow js ======-->
    <script src="/static/assets/js/wow.min.js"></script>
    
    <!--====== Particles js ======-->
    <script src="/static/assets/js/particles.min.js"></script>
    
    <!--====== Main js ======-->
    <script src="/static/assets/js/main.js"></script>
   
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=ikIjE0de"></script>
    
    <script>
        function openImage(){
            $("#image-file-btn").click();
        }
        function submitform(){
            $("#myform").submit();
        }
        $(function(){
           
            $("#myform").submit(function(e){
                e.preventDefault();
                let img = document.getElementById('image-file-btn').files[0];
                var form_data = new FormData();
                form_data.append('img',img);
                form_data.append('csrfmiddlewaretoken','{{csrf_token}}');
            
                let xhr = new XMLHttpRequest();
                xhr.open('POST','{% url "index" %}');
                xhr.send(form_data);
                xhr.onload = function(){
                    let obj = JSON.parse(xhr.responseText);
                    let status = obj.status;
                    if(status==true){
                        let model_data = JSON.parse(obj.data);
                        let image = model_data[0].fields.image;
                        // $("#previewImg").attr("src", "/media/"+image);
                        $("#previewImg").css({"background":'url(/media/'+image+')',"background-size":"100% 100%"});
                        prediction(model_data)
                    }else{
                        alert(obj.message);
                    }
                
                }
            });

            function prediction(model_data){
                $("#animater-main").addClass("animater-main");
                $("#animater").addClass("animater");
                var form_data = new FormData();
                form_data.append('id',model_data[0].pk);
                form_data.append('csrfmiddlewaretoken','{{csrf_token}}');

                let xhr = new XMLHttpRequest();
                xhr.open('POST','{% url "predict_func" %}');
                xhr.send(form_data);
                xhr.onload = function(){
                    $("#animater-main").removeClass("animater-main");
                    $("#animater").removeClass("animater");
                    $("#features_link").click();
                    let obj = JSON.parse(xhr.responseText);
                    console.log(obj);
                    let status = obj.status;
                    var r = '';
                    if(status==true){
                        r+='<h3 class="my-3">'+obj.data.title+'</h3>';
                        r+='<p class="mb-3 blog-text">'+obj.data.text+'</p>';
                        r+='<a href="'+obj.data.url+'" class="main-btn my-3" target="_blank">Learn More</a>';
                        r+='<h4 class="mt-4">Related Images</h4>';
                        r+='<div class="row">';
                        for(i in obj.data.images){
                            r+='<div class="col-lg-4 col-md-7 col-sm-8 ">';
                            r+='<div class="single-team text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">';
                            r+='<img class="blog-image" src="'+obj.data.images[i]+'" style="height:300px;width:100%;"/>'
                            r+='</div>';
                            r+='</div>';
                        }
                        r+='</div>';
                        responsiveVoice.speak(obj.data.text.split(".")[0]+"."+obj.data.text.split(".")[1]);
                    }else{
                        r+='<h3>'+obj.data+'</h3>';
                        r+='<p>'+obj.message+'</p>';
                    }
                    $("#result_div").html(r);
                }
            }
        });
        </script>
</body>

</html>
