<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abut Page</title>
</head>
<body>
    <a href="{% url 'index' %}">Home Page</a>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/I0-5Xcp71I8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1>ABOUT PAGE</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut enim quae consequatur obcaecati alias possimus maiores nihil ullam rem quis, repellat fuga laboriosam debitis autem officia est aliquam blanditiis rerum.</p>
    <ol>
        <li>Service 1</li>
        <li>Service 2</li>
        <li>Service 3</li>
    </ol>
    <img src="/static/laptop.jpg" alt="">
</body>
</html>