<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML Form</title>
    <style>
        body{
            background:url("nature.jpg");
            background-size: cover;
        }
        form{
            width:50%;
            margin:auto;
            background:rgba(255,0,0,0.5);
            padding:50px;
            
        }
        
        input, select{
            width:100%;
            height:30px;
            margin-top:20px;
        }
        textarea{
            width:100%;margin-top:20px;
        }
        h1{
            text-shadow:0px 0px 20px red;
            font-size:40px;
            text-transform: uppercase;
        }
        .mybtn{
            background:green;height:40px;color:white;border:none;border-radius:20px;
        }
        .mybtn:hover{
            box-shadow: 0px 0px 20px white;
        }
    </style>
</head>
<body>
    <a href="{% url 'about' %}">About Page</a>
    <a href="https://google.com">Google</a>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech%20Solution%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1618371320827!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <h1 style="text-align: center;">Fill Up Details Below</h1>
    <h2 style='color:green;text-align: center;'>{{status}}</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter Name..." name="name" required>
        <input type="email" placeholder="Enter Email..." name="email">
        <textarea name="message" id=""  rows="10" placeholder="Enter Message Here"></textarea>
        <input type="submit" value="Click To Continue" class="mybtn">
    </form>
</body>
</html>