<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia API</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=izCreudR"></script>
    <style>
        .banner{
            background-image:url("/static/bg.gif");
            padding:100px;
        }
    </style>
</head>
<body>
    <section class="banner">
        <form action="" method="post">
            {% csrf_token %}
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search Somethng..." name="item">
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Search" class="btn btn-primary btn-block">
                    </div>
                </div>
            </div>
        </form>
    </section>
    {% if error %}
    <h1 class="alert alert-danger text-center">{{error}}</h1>
    {% endif %}
    <section>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-2">{{title}}</h1>
                    <p class="mt-4 alert alert-primary">
                        {{summary}}
                    </p>
                </div>

                {% for i in images %}
                    <div class="col-md-4">
                        <img src="{{i}}" alt="" style="width:100%;height:300px;">
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
        // alert(a);
responsiveVoice.speak("hello world");
// responsiveVoice.speak(a);
    </script>
   
</body>
</html>